# catalog-service/src/main/resources/application.yml
spring:
  application:
    name: catalog-service
  
  datasource:
    url: jdbc:postgresql://localhost:5433/catalog_db
    username: postgres
    password: TokyoTokyo123321
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    user: postgres
    password: TokyoTokyo123321
    baseline-on-migrate: true

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true