server:
  port: ${SERVER_PORT:8082}

spring:
  application:
    name: catalog-service
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:postgres}:${POSTGRES_PORT:5432}/${POSTGRES_DB:catalog_db}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:TokyoTokyo123321}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        default_schema: public
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    mixed: true
    locations: classpath:db/migration
    schemas: public
    validate-on-migrate: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://discovery-service:8761/eureka/}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    org.flywaydb: INFO
    org.hibernate.SQL: WARN
